.errorBlock {
	padding: 20px;
	background-color: rgb(194,57,52);
	color: white;
	font-size: 15px;
}
.errorMsg {
	color: rgb(194,57,52);
	display: list-item;        
	list-style-type: disc;
	list-style-position: inside;
	font-size: 13px;
}
.loader {
	display: block;
	background: url('/img/loading32.gif') scroll no-repeat 0 0;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 50%;
	top: 150px;
}