.THIS .cuf-content{
    padding:0 !important;
}
.THIS .slds-p-around--medium{
    padding:0 !important;
}
.THIS .slds-modal__container{
    width:70% !important; 
    max-width:70% !important;
   
}
.THIS .fontName{
    font-family: sans-serif !important;
    font-size: 14px !important;
}

.THIS .uiOutputRichText{
    overflow-x:auto !important;
    max-width:1500px !important;
    max-height:500px;
}

.THIS .spins::after {
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    font-weight: bold;
}