.THIS .white-bg {
    background-color: white;
}
.THIS .checkbox-section {
    background-color: #1B5297;
    color: white;
    font-weight: bold;
}
.THIS .checkbox-section .slds-form-element__label{
    color: white;
    font-weight: bold;
}
.THIS .horizontalRadio .slds-form-element__control .slds-radio{
    display : inline-block;
}
.THIS .step4-section-content td .slds-form-element__control{
    /*padding-bottom : 16px;*/
}
.THIS td .slds-form-element__control .slds-input__icon{
    right : 1.5rem;
    position : relative;
}
.THIS .step4text{
    /*bottom : -19px;*/
}
.THIS .step4radio{
    /*bottom : -10px;*/
}
.THIS .slds-spinner_container {  
	z-index: 10000;
  	position: fixed;   
}
.THIS .paraAlign{
    padding-left: 24px;
}