.THIS .widthcontent {
	width: 7rem !important;
}

.THIS .content {
	width: 5rem !important;
}

.THIS .tsbold {
	text-align: center;
    font-weight: bold;
}

.THIS .slds-resizable__divider{
    position: initial !important;
}

.THIS .slds-modal__container{
    max-width: 65rem !important;
    width: 75% !important;
}