.THIS .cuf-content{
    padding:0 !important;
}
.THIS .slds-p-around--medium{
    padding:0 !important;
}
.THIS .slds-modal__container{
    width:70% !important; 
    max-width:70% !important;
}
.THIS .fontName{
    font-family: sans-serif !important;
    font-size: 14px !important;
}