<apex:page sidebar="false" showHeader="true" docType="html-4.01-strict">
<CRMC_PP:Grid ObjectName="Contract_Site__c" DelayLoad="false"  ViewID="a253t0000045ZfZAAU" 
 EnableNewButton="true"  EnableNewInline="false"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="false"  EnableToolbar="true"  EnableViews="false"  EnableFormatting="true"  EnableReadingPane="false" />
<CRMC_PP:DrillUp />
</apex:page>