<apex:page standardController="Case" showHeader="false" docType="html-4.01-strict">
<CRMC_PP:Grid ObjectName="Intake_Site__c" FKName="Case__c" FKValue="{!Case.Id}"  DelayLoad="false"  ViewID="a2M01000000EL0TEAW" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="false" 
 EnableStickyViews="false"  EnableToolbar="true"  EnableViews="false"  EnableFormatting="false"  EnableReadingPane="true" />
<CRMC_PP:DrillUp />
</apex:page>