<apex:page standardController="Opportunity" recordSetVar="Opp" extensions="NLG_ApprovalflowCtl" lightningStylesheets="true">
    
    <flow:interview name="NLGBulkApproval" buttonLocation="bottom" finishLocation="{!URLFOR('/006/o')}">
        <apex:param name="OpportunityList" value="{!selectedOpps}"/>
    </flow:interview>
    
</apex:page>