<!-------------------------------------------------------------------------------
@author      : IBM
@date        : 09.06.2020
@description : To create new opportunity on click of button from case record page
@Version     : 1.0
--------------------------------------------------------------------------------->
<apex:page standardController="Case" sidebar="false" showHeader="false" lightningStylesheets="true" extensions="SI_CreateOpportunityRecordPageController" action="{!createOpportunityRecord}">
    <apex:slds />
    <!-- Static Resource For adding CSS on the Page -->
    <apex:stylesheet value="{!URLFOR($Resource.SI_SubmitIntakeRequestResources, '/SI_SubmitIntakeFlowPage.css')}"/>
    
    <!-- To display loader -->
    <div id="load_scrl" class="loader" ></div>
    
    <!-- Error Block -->
    <apex:form id="errorBlock" styleClass="errorBlockForm slds-var-m-around_large" style="display:none">
        <div class="slds-border_bottom slds-border_top slds-border_left slds-border_right">
            <div class="errorBlock slds-var-m-around_medium" >
                <span>Review Errors</span> <br/>
            </div>
            <span class="errorMsg slds-var-m-left_x-large">{!errorMessage}</span>
            <div class="slds-align_absolute-center slds-var-m-around_small">
                <apex:commandButton styleClass="slds-button slds-button_brand" value="Back"
                                    action="{!backToCaseRecord}" rendered="{!$CurrentPage.parameters.id != ''}"/>
            </div>
        </div>
    </apex:form>
    
    <script>
    // action to be performed on page load
        window.onload = function() {
        //fetch hasError variable value
            const hasError = '{!hasError}';
        //hide loader and display error block
            document.getElementsByClassName("loader")[0].style.display = 'none';
            document.getElementsByClassName("errorBlockForm")[0].style.display = 'block';
    }
    </script>
</apex:page>