<apex:page standardController="Opportunity" extensions="SI_ValidateOpptyApproversController" action="{!validateOpportunityAndRedirect}" lightningStylesheets="true" >
    <apex:form >
        <apex:pageMessages escape="false"></apex:pageMessages>
        <apex:commandButton value="Go Back To Opportunity" action="{!back}"/> 
    </apex:form>         
</apex:page>