<template>
    <lightning-card  title="Neustar Embeded Page" icon-name="custom:custom59">
        <div class="slds-m-around_medium">
            <iframe width="100%"
            height="500px" src={uomGUIUrl} sandbox="allow-same-origin allow-scripts allow-forms"
            scrolling="auto" ></iframe>
        </div>    
    </lightning-card>
</template>